.product-card {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
    flex: 1 1 calc(25% - 2rem);
    box-sizing: border-box;
  }
  
  .product-card img {
    max-width: 100%;
  }
  
  .product-card h2 {
    margin: 0.5rem 0;
  }
  
  .product-card p {
    margin: 0.5rem 0;
  }
  